* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: var(--text-color);
  color: var(--background-dark);
}

:root {
  --text-color: #c7c7c7;
  --background-hover-dark: #4b4b4b;
  --background-hover-light: #fafafa;
  --background-dark: #1A1A1A;
  --black: #000000;
  --white: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url('../../assets/background.jpg');
  background-attachment: fixed;
  background-size: contain;
  font-family: 'Quicksand', sans-serif;
  color: var(--text-color);
}

.bread-crumbs {
  min-height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bread-crumbs ul {
  display: flex;
  list-style: none;
}

.bread-crumbs ul li a {
  text-decoration: none;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
  font-size: 0.8rem;
}

.bread-crumbs ul li a:hover {
  text-decoration: underline;
}

.seperate {
  margin: 0rem 1rem;
}

main {
  min-height: 80vh;
  max-width: 1250px;
  margin: auto;
}

.stories-section-heading {
  text-align: center;
}

.stories-section h1 {
  font-family: 'Poppins', sans-serif;
}

.story {
  background-color: var(--background-dark);
  max-width: 330px;
  position: relative;
  border-radius: 0.2rem;
}

.story h1 {
  font-size: 1.65rem;
  padding-top: 1rem;
}

.story-image {
  background-image: url('../../assets/thirsty-crow.jpg');
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
  width: 100%;
  min-height: 150px;
  background-size: cover;
  background-position-y: -40px;
  background-repeat: no-repeat;
}

.story-details {
  padding: 0rem 1rem;
}

.story p {
  margin: auto;
  text-align: justify;
  font-weight: bold;
  margin: 0.5rem 0rem;
  font-size: 0.85rem;
  line-height: 1.4;
}

.read-more-button {
  padding: 0.75rem 0rem;
  margin-bottom: 0.9rem;
}

.story a {
  background-color: var(--background-hover-dark);
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: var(--text-color);
  font-weight: bold;
  font-size: 0.80rem;
  border-radius: 0.15rem;
}

.story2 {
  background-color: transparent;
  border: none;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  font-size: 0.5rem;
}

.row {
  display: flex;
}

.thoughts-section-heading {
  text-align: center;
  padding: 1rem 0rem;
  font-family: 'Poppins', sans-serif;
}

.thought {
  background-color: var(--background-hover-dark);
  max-width: 350px;
  border-radius: 0.2rem;
}

@media screen and (max-width: 500px) {
  .row{
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }
  .stories-section h1 {
    margin-bottom: 2rem;
  }
  .story h1 {
    padding-top: 0.75rem;
  }
  .story p {
    margin-top: -1.75rem;
  }
  .story2 {
    margin-left: 0;
  }
}